In [1]:
#IMPORTING LIB THAT MIGHT BE NEEDED
import pandas as pd
import scipy as sci
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#LOADING DATAFRAME
df = pd.read_csv('ev_data.csv')

In [3]:
#OBSERVING THE DATAFRAME
df

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
3793,World,Historical,EV stock,Cars,BEV,2023,Vehicles,2.800000e+07
3794,World,Historical,EV sales,Cars,BEV,2023,Vehicles,9.500000e+06
3795,World,Historical,EV sales share,Cars,EV,2023,percent,1.800000e+01
3796,World,Historical,EV stock share,Cars,EV,2023,percent,3.200000e+00
3797,World,Historical,Electricity demand,Cars,EV,2023,GWh,9.700000e+04

In [4]:
#CHECKING DATAFRAMES DATA TYPES
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      3798 non-null   object
 1   category    3798 non-null   object
 2   parameter   3798 non-null   object
 3   mode        3798 non-null   object
 4   powertrain  3798 non-null   object
 5   year        3798 non-null   int64
 6   unit        3798 non-null   object
 7   value       3798 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 237.5+ KB

In [5]:
#DUPED DATA IS NOT NEEDED
df.drop_duplicates()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
3793,World,Historical,EV stock,Cars,BEV,2023,Vehicles,2.800000e+07
3794,World,Historical,EV sales,Cars,BEV,2023,Vehicles,9.500000e+06
3795,World,Historical,EV sales share,Cars,EV,2023,percent,1.800000e+01
3796,World,Historical,EV stock share,Cars,EV,2023,percent,3.200000e+00
3797,World,Historical,Electricity demand,Cars,EV,2023,GWh,9.700000e+04

In [6]:
#CHECKING TO SEE IF THERE ARE ANYTHING BESIDES CARS TO BE ON THE SAFE SIDE
df['mode'].nunique()

1

In [7]:
#NOT NEEDED
del df['mode']

In [8]:
# NOT NEEDED BECAUSE 2024 HAS ENDED
del df['category']

In [9]:
#PROGRESS CHECK
df

         region           parameter powertrain  year      unit         value
0     Australia            EV sales        BEV  2011  Vehicles  4.900000e+01
1     Australia      EV stock share         EV  2011   percent  3.900000e-04
2     Australia      EV sales share         EV  2011   percent  6.500000e-03
3     Australia            EV stock        BEV  2011  Vehicles  4.900000e+01
4     Australia            EV stock        BEV  2012  Vehicles  2.200000e+02
...         ...                 ...        ...   ...       ...           ...
3793      World            EV stock        BEV  2023  Vehicles  2.800000e+07
3794      World            EV sales        BEV  2023  Vehicles  9.500000e+06
3795      World      EV sales share         EV  2023   percent  1.800000e+01
3796      World      EV stock share         EV  2023   percent  3.200000e+00
3797      World  Electricity demand         EV  2023       GWh  9.700000e+04

[3798 rows x 6 columns]

In [48]:
#FOCUS IS SOLELY ON THE SALES SO THE STOCK SHARE IS NOT RELAVANT
df = df.loc[~df.parameter.isin(['EV sales share','EV stock share','EV stock','Oil displacement Mbd','Electricity demand'])]

In [52]:
#SAME FOCUS AS LAST ONE OIL DISPLACEMENT AND BARRELS ARE NOT TIED TO MY QUESTION
df = df.loc[~df.unit.isin(['Oil displacement, million lge','GWh','Million barrels per day'])]

In [54]:
df

         region parameter powertrain  year      unit      value
0     Australia  EV sales        BEV  2011  Vehicles       49.0
6     Australia  EV sales       PHEV  2012  Vehicles       80.0
9     Australia  EV sales        BEV  2012  Vehicles      170.0
10    Australia  EV sales        BEV  2013  Vehicles      190.0
13    Australia  EV sales       PHEV  2013  Vehicles      100.0
...         ...       ...        ...   ...       ...        ...
3781      World  EV sales       FCEV  2022  Vehicles    15000.0
3783      World  EV sales       PHEV  2022  Vehicles  2900000.0
3788      World  EV sales       PHEV  2023  Vehicles  4300000.0
3792      World  EV sales       FCEV  2023  Vehicles     8900.0
3794      World  EV sales        BEV  2023  Vehicles  9500000.0

[1342 rows x 6 columns]

In [56]:
df.describe()

              year         value
count  1342.000000  1.342000e+03
mean   2017.712370  7.571890e+04
std       3.690989  4.682545e+05
min    2010.000000  1.000000e+00
25%    2015.000000  8.300000e+01
50%    2018.000000  1.100000e+03
75%    2021.000000  1.200000e+04
max    2023.000000  9.500000e+06

In [58]:
region_sales_per_year = df.groupby(['region','year'])['value'].sum().reset_index()

In [64]:
region_sales_per_year.head(30)

       region  year    value
0   Australia  2011     49.0
1   Australia  2012    250.0
2   Australia  2013    290.0
3   Australia  2014   1320.0
4   Australia  2015   1760.0
5   Australia  2016   1370.0
6   Australia  2017   2300.0
7   Australia  2018   3600.0
8   Australia  2019   9200.0
9   Australia  2020   6900.0
10  Australia  2021  20444.0
11  Australia  2022  38915.0
12  Australia  2023  98006.0
13    Austria  2013    650.0
14    Austria  2014   1706.0
15    Austria  2015   2804.0
16    Austria  2016   5000.0
17    Austria  2017   7102.0
18    Austria  2018   9107.0
19    Austria  2019  11519.0
20    Austria  2020  23614.0
21    Austria  2021  48014.0
22    Austria  2022  47014.0
23    Austria  2023  65009.0
24    Belgium  2010     56.0
25    Belgium  2011    296.0
26    Belgium  2012    910.0
27    Belgium  2013    560.0
28    Belgium  2014   1950.0
29    Belgium  2015   3902.0