In [1]:
import pandas as pd
import scipy as sci
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('ev_data.csv')

In [3]:
df

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
3793,World,Historical,EV stock,Cars,BEV,2023,Vehicles,2.800000e+07
3794,World,Historical,EV sales,Cars,BEV,2023,Vehicles,9.500000e+06
3795,World,Historical,EV sales share,Cars,EV,2023,percent,1.800000e+01
3796,World,Historical,EV stock share,Cars,EV,2023,percent,3.200000e+00
3797,World,Historical,Electricity demand,Cars,EV,2023,GWh,9.700000e+04

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      3798 non-null   object
 1   category    3798 non-null   object
 2   parameter   3798 non-null   object
 3   mode        3798 non-null   object
 4   powertrain  3798 non-null   object
 5   year        3798 non-null   int64
 6   unit        3798 non-null   object
 7   value       3798 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 237.5+ KB

In [5]:
df.drop_duplicates()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
3793,World,Historical,EV stock,Cars,BEV,2023,Vehicles,2.800000e+07
3794,World,Historical,EV sales,Cars,BEV,2023,Vehicles,9.500000e+06
3795,World,Historical,EV sales share,Cars,EV,2023,percent,1.800000e+01
3796,World,Historical,EV stock share,Cars,EV,2023,percent,3.200000e+00
3797,World,Historical,Electricity demand,Cars,EV,2023,GWh,9.700000e+04

In [6]:
df['mode'].nunique()

1

In [7]:
del df['mode']

In [8]:
del df['category']

In [9]:
df

         region           parameter powertrain  year      unit         value
0     Australia            EV sales        BEV  2011  Vehicles  4.900000e+01
1     Australia      EV stock share         EV  2011   percent  3.900000e-04
2     Australia      EV sales share         EV  2011   percent  6.500000e-03
3     Australia            EV stock        BEV  2011  Vehicles  4.900000e+01
4     Australia            EV stock        BEV  2012  Vehicles  2.200000e+02
...         ...                 ...        ...   ...       ...           ...
3793      World            EV stock        BEV  2023  Vehicles  2.800000e+07
3794      World            EV sales        BEV  2023  Vehicles  9.500000e+06
3795      World      EV sales share         EV  2023   percent  1.800000e+01
3796      World      EV stock share         EV  2023   percent  3.200000e+00
3797      World  Electricity demand         EV  2023       GWh  9.700000e+04

[3798 rows x 6 columns]

In [34]:
df['parameter'] = df['parameter'].replace('EV stock share','')

In [54]:
df['parameter'] = df['parameter'].replace('EV sales share','')

NameError: name 'null' is not defined

In [44]:
df.dropna()

         region           parameter powertrain  year      unit         value
0     Australia                            BEV  2011  Vehicles  4.900000e+01
1     Australia                             EV  2011   percent  3.900000e-04
2     Australia                             EV  2011   percent  6.500000e-03
3     Australia            EV stock        BEV  2011  Vehicles  4.900000e+01
4     Australia            EV stock        BEV  2012  Vehicles  2.200000e+02
...         ...                 ...        ...   ...       ...           ...
3793      World            EV stock        BEV  2023  Vehicles  2.800000e+07
3794      World                            BEV  2023  Vehicles  9.500000e+06
3795      World                             EV  2023   percent  1.800000e+01
3796      World                             EV  2023   percent  3.200000e+00
3797      World  Electricity demand         EV  2023       GWh  9.700000e+04

[3798 rows x 6 columns]

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      3798 non-null   object
 1   parameter   3798 non-null   object
 2   powertrain  3798 non-null   object
 3   year        3798 non-null   int64
 4   unit        3798 non-null   object
 5   value       3798 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 178.2+ KB